$hover-color: rgba(160, 181, 233, 0.3);
$clicked-color: rgba(124, 154, 230, 0.56);
$text-size: 12px;
$text-offset: -1px;

.shortcut {
    width: 50px;
    height: 75px;

    img {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    p {
        margin-top: $text-offset;
        text-align: center;
        font-family: "Microsoft Sans Serif";
        font-size: $text-size;
        user-select: none;
    }
}

.shortcut:hover {
    background-color: $hover-color;
}

.shortcut:active {
    background-color: $clicked-color;
}
