$hover-color: rgba(160, 181, 233, 0.3);
$clicked-color: rgba(124, 154, 230, 0.56);

.shortcut {
    width: 75px;
    height: 100px;

    img {
        width: 100%;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    p {
        text-align: center;
        font-family: "Microsoft Sans Serif";
        user-select: none;
    }
}

.shortcut:hover {
    background-color: $hover-color;
}

.shortcut:active {
    background-color: $clicked-color;
}
