$project-view-bg-color: #131516;
$project-view-color: #FAF7F0;

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $project-view-bg-color;
    color: $project-view-color;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 20px;
}

.content {
    display: flex;
}

.left-column {
    flex: 2;
    margin-right: 20px;

    h1,
    h2 {
        border-bottom: 1px solid #fff;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }

    p {
        margin-bottom: 10px;
    }
}

.right-column {
    flex: 1;

    h3 {
        font-size: 18px;
        margin-bottom: 10px;
        color: #ddd;
    }
}

.readme,
.images,
.collaborators,
.releases{
    background-color: #202124;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: black;
    color: #fff;
}

.collaborator {
    display: flex;
    align-items: center;

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }
}

.releases p {
    color: #fff;
}

a:visited {
    color: blue;
}