$info-popup-background-color: rgba(19, 21, 22, 0.85);
$info-popup-color: #FAF7F0;
$info-popup-shadow-color: rgba(0, 0, 0, 0.5);
$info-popup-shadow-width: 4px;

.repository-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    h1 {
        font-size: 36px;
    }

    .name-container {
        margin-right: 10px;
    }

    .button-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        button {
            display: flex; // Make the button a flex container
            justify-content: center; // Center horizontally
            align-items: center; // Center vertically
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;

            img {
                width: 70%;
                height: 70%;
            }
        }
        /* Info box that will appear above the button */
        .info-popup {
            position: absolute;
            background-color: $info-popup-background-color;
            color: $info-popup-color;
            box-shadow: $info-popup-shadow-width $info-popup-shadow-width $info-popup-shadow-color;
            padding: 10px;
            width: 400px;
            border-radius: 5px;
            opacity: 0; /* Initially hidden */
            visibility: hidden;
            transition: opacity 0.3s ease, visibility 0.3s ease;
            top: 110%; /* Position above the button */
            left: 50%; /* Center the popup horizontally above the button */
            transform: translateX(-50%); /* Centering */
            z-index: 9999;
        }
        /* When the button is hovered, show the popup */
        button:hover + .info-popup {
            opacity: 1; /* Make the popup visible */
            visibility: visible;
        }
    }
}

.language {
    margin-left: 10px;
    font-size: 18px;
}
