.image-gallery {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.image-gallery button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}


.image-gallery button:first-of-type {
    left: 10px; /* Adjust to your needs */
}

.image-gallery button:last-of-type {
    right: 10px; /* Adjust to your needs */
}

.image-gallery button:hover {
    background-color: #0056b3;
}

.image-gallery img, video, audio {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.image-gallery p {
    text-align: center;
    color: #666;
}
