$window-color: lightgray;
$window-border-width: 4px;
$window-body-background-color: white;
$handle-height: 25px;
$handle-color: blue;
$dropdown-height: 35px;
$shadow-width: 3px;
$shadow-color: rgba(0, 0, 0, 0.5);

.window {
    display: flex;
    flex-direction: column;
    background-color: $window-color;
    border: solid $window-border-width $window-color;
    box-shadow: $shadow-width $shadow-width $shadow-color;
    width: 80vw; // Window width responsive to viewport width
    height: 60vh; // Window height responsive to viewport height
    max-width: 100%; // Prevents overflow beyond desktop width
    max-height: 100%; // Prevents overflow beyond desktop height
    min-width: 300px; // Minimum width for usability
    min-height: 125px; // Minimum height for usability
    resize: both; // Makes window resizable
    overflow: auto; // Scroll when content overflows

    .body {
        flex-grow: 1;
        padding: 5px;
        box-shadow: inset $shadow-width $shadow-width $shadow-color;
        background-color: $window-body-background-color;
        height: 100%;
        overflow-x: scroll;
        overflow-y: scroll;

        /* Custom scrollbar (thank you @Dakedres on GitHub)*/
        &::-webkit-scrollbar {
            width: 16px;
            height: 16px;
            background: none;
        }

        &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-button {
            width: 16px;
            height: 16px;
            background: silver;
            box-shadow: inset 1px 1px #dfdfdf, inset -1px -1px gray;
            border: 1px solid;
            border-color: silver #000 #000 silver;
        }

        &::-webkit-scrollbar-track {
            image-rendering: optimizeSpeed;
            image-rendering: pixelated;
            image-rendering: optimizeQuality;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAyIDIiIHNoYXBlLXJlbmRlcmluZz0iY3Jpc3BFZGdlcyI+CjxtZXRhZGF0YT5NYWRlIHdpdGggUGl4ZWxzIHRvIFN2ZyBodHRwczovL2NvZGVwZW4uaW8vc2hzaGF3L3Blbi9YYnh2Tmo8L21ldGFkYXRhPgo8cGF0aCBzdHJva2U9IiNjMGMwYzAiIGQ9Ik0wIDBoMU0xIDFoMSIgLz4KPC9zdmc+");
            background-position: 0 0;
            background-repeat: repeat;
            background-size: 2px;
        }

        &::-webkit-scrollbar-button {
            background-repeat: no-repeat;
            background-size: 16px;
        }

        &::-webkit-scrollbar-button:single-button:vertical:decrement {
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTcgNWgxTTYgNmgzTTUgN2g1TTQgOGg3IiAvPgo8L3N2Zz4=");
        }

        &::-webkit-scrollbar-button:single-button:vertical:increment {
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTQgNWg3TTUgNmg1TTYgN2gzTTcgOGgxIiAvPgo8L3N2Zz4=");
        }

        &::-webkit-scrollbar-button:single-button:horizontal:decrement {
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTggM2gxTTcgNGgyTTYgNWgzTTUgNmg0TTYgN2gzTTcgOGgyTTggOWgxIiAvPgo8L3N2Zz4=");
        }

        &::-webkit-scrollbar-button:single-button:horizontal:increment {
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTYgM2gxTTYgNGgyTTYgNWgzTTYgNmg0TTYgN2gzTTYgOGgyTTYgOWgxIiAvPgo8L3N2Zz4=");
        }

        &::-webkit-scrollbar-corner {
            background: silver;
        }
    }

    .dialog-body {
        background-color: $window-color;
        color: black;
        box-shadow: inset 0px 0px black; // Turn off the box shadow for dialog
    }

    .project-body {
        background-color: #131516;
    }

    .handle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        background-color: blue;
        height: $handle-height;

        .title-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                width: 15px;
                height: 15px;
            }

            p {
                font-size: 12px;
                font-weight: bold;
                margin: 0;
            }
        }

        .button-container {
            display: flex;
            gap: 2px;

            button {
                font-size: 8px;
                width: 18px;
                height: 18px;
            }
        }
    }
}