$window-color: lightgray;
$window-border-width: 4px;
$window-body-background-color: white;
$handle-height: 25px;
$handle-color: blue;
$dropdown-height: 35px;
$shadow-width: 3px;
$shadow-color: rgba(0, 0, 0, 0.5);

.window {
    display: flex;
    flex-direction: column;
    background-color: $window-color;
    border: solid $window-border-width $window-color;
    box-shadow: $shadow-width $shadow-width $shadow-color;
    width: 80vw; // Window width responsive to viewport width
    height: 60vh; // Window height responsive to viewport height
    max-width: 100%; // Prevents overflow beyond desktop width
    max-height: 100%; // Prevents overflow beyond desktop height
    min-width: 300px; // Minimum width for usability
    min-height: 125px; // Minimum height for usability
    resize: both; // Makes window resizable
    overflow: auto; // Scroll when content overflows

    .body {
        flex-grow: 1;
        overflow: auto;
        padding: 5px;
        box-shadow: inset $shadow-width $shadow-width $shadow-color;
        background-color: $window-body-background-color;
        height: 80%;
    }

    .dialog-body {
        background-color: $window-color;
        color: black;
        box-shadow: inset 0px 0px black; // Turn off the box shadow for dialog
    }

    .project-body {
        background-color: #131516;
    }

    .handle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        background-color: blue;
        height: $handle-height;

        .title-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                width: 15px;
                height: 15px;
            }

            p {
                font-size: 12px;
                font-weight: bold;
                margin: 0;
            }
        }

        .button-container {
            display: flex;
            gap: 2px;

            button {
                font-size: 8px;
                width: 18px;
                height: 18px;
            }
        }
    }
}