$handle-height: 30;

.window {
    width: 50%;
    height: 50%;
    background-color: gray;

    .body {
        width: 100%;
        height: 95%;
        overflow: auto;
    }

    .handle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        background-color: blue;
        height: $handle-height;

        p {
            font-size: 12px;
            margin: 0;
            font-weight: bold;
        }

        .button-container {
            display: flex;
            gap: 5px;
        }

        .close-button {
            background-color: red;
            border: 0px;
        }
    }
}
